rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Global Denial
    match /{document=**} {
      allow read, write: if false;
    }

    function isSignedIn() { return request.auth != null; }
    function isValidTrackingUrlList(data) {
        return data.urls is list && data.urls.size() <= 100;
    }

    match /user_trackers/{uid} {
      allow read, write: if isSignedIn() && request.auth.uid == uid && isValidTrackingUrlList(request.resource.data);
    }
  }
}
